.health {
  position: fixed;
  z-index: 1;
  height: 30px;
  width: 10%;
  display: block;
  padding-top: 3%;
  padding-left: 45%;
  padding-right: 45%;
}

.health-box {
  background-color: #ccc;
  height: 30px;
  width: 200px;
  margin: 0 auto;
  border: solid 1px #aaa;
}

.health-bar {
  background-color: #007f00;
  width: inherit;
  height: 28px;
  position: relative;
  bottom: 56px;
}

.health-bar-red {
  width: 100%;
  height: 100%;
  background-color: #cc0000;
}

.health-bar-blue {
  width: 100%;
  height: 100%;
  /* background-color: #3bd3df; */
  bottom: 28px;
  position: relative;
}

.health-bar-text {
  position: relative;
  text-align: center;
  color: #00ff23;
  font-family: "Sigmar One";
  bottom: 80px;
}
