h1 {
    font-family: "Sigmar One";
}

h2 {
    font-family: "Sigmar One";
    font-size: 20px;
    text-align: center;
}

.instructions {
    font-family: "Sigmar One";
    font-size: 18px;
    text-align: center;
    color: #a8a7a5;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

.overlayContent {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: "Georgia";
    color: #ffffff;
    display: block;
}

.buttonDiv {
    display: flex;
    text-align: center;
}