body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg {
  background-image: url("../../assets/menu_bg.jpg");
  position: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  width: 100%;
}

h1 {
  font-family: "Sigmar One";
}

h2 {
  font-family: "Sigmar One";
  font-size: 6rem;
  text-align: center;
}

#instruction_content_title {
  padding: 0;
  font-size: 4rem;
  color: #bd3a3a;
}

#instruction_content_text {
  width: 80%;
  font-size: 1.25rem;
  font-family: "Monaco";
  /* margin: 10%; */
}

.instructions {
  font-family: "Sigmar One";
  font-size: 18px;
  text-align: center;
  color: #a8a7a5;
}

.overlay {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.overlayContent {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: "Georgia";
  color: #ffffff;
  display: block;
}

.buttonDiv {
  display: flex;
  text-align: center;
}

#start {
  background-color: #00000067;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 8px;
}

#start:hover {
  background-color: #706e6e67;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 8px;
}

#instructions_btn {
  color: #5add61;
  background-color: #a8a7a500;
  border: 0px;
}

#instructions_btn:hover {
  color: #3a9140;
  background-color: #a8a7a500;
  border: 0px;
}

#instruction_menu {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  /* padding: 8px; */
  text-decoration: none;
  font-size: 25px;
  font-family: "Arial";
  color: white;
  background-color: rgba(26, 7, 7, 0.959);
  z-index: 2;
  display: none;
  border-radius: 25px;
  padding: 3%;
  margin: 10%;
  margin-left: 20%;
  margin-right: 20%;
  overflow: scroll;
  /* height: 50%; */
  height:auto;
  max-height:800px;
  min-width:600px;
}

#instruction_btn_container {
  display: flex;
  justify-content: flex-start;
  height: 0;
  width: 100%;
  z-index: 10;
}

#instruction_btn {
  width: 2.5rem;
  text-align: left;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Sigmar One";
  color: white;
}

#instruction_btn:hover {
  width: 2.5rem;
  text-align: left;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Sigmar One";
  color: gray;
}

#instruction_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Sigmar One";
  color: white;
  height: 100%;  
}
