.win {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sigmar One";
  color: white;
  flex-direction: column;
}

.win-title {
  font-size: 10rem;
  -webkit-text-stroke: 2px black;
}
.win-text {
  font-size: 2rem;
}
